body {
    font-family: sans-serif;
    background-color: salmon;
    padding: 0px;
    margin: 0px;
}
h1{
    text-align: center;
    color: white;
    text-shadow: 4px 4px purple;  
}
p{
    text-align: center;
    border: crimson solid 4px;
}
